<!DOCTYPE html>
<html>
<head>
<h1> New registration form</h1>
</head>
<body>
<form action = "/register" method = "POST">
	<table>
		<tr>
			<td>
				Email Address:
			</td>

			<td>
				<input type="email" name="email" placeholder="email">
			</td>
		</tr>
<tr>
<td>
				Password:
			</td>

			<td>
				<input type="password" name="password" placeholder="password">
        <button type="submit" class="btn btn-success">SUMBIT</button>
      </td>
 	</tr>
	</table>
</form> 
</body>
</html>